h1{
    color: rgb(104, 34, 34);
    justify-content:center
}
img{
    width: 400px;
}
#thirdDiv{
    height: 600px; width: 500px;
    margin-left: auto; margin-right: auto;
    background-color: rgb(211, 166, 17);
    margin-left: auto;
    padding: 50px;
    justify-content:space-around
}
#spanId{
    font-size: 18px;
    margin: 50px;
    border-width:auto;
    border-color: crimson;
    border-style: solid;
    width: 500px;
    margin-left: 0px;
    margin-right: auto;
    
}
